<%# initial setup %>

<h1> "This Little Lite ...Make It Shine !!!"</h1>





















<h2>A webpage, created by:
<%= link_to "jcgdxn","http://github.com/jcgdxn" %></h2>
