// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  color: #cc9900;
  font-size: 40px;
}

h2 {
  color: #ff66cc;
  font-size: 15px;
}
